prosjekttesting/__pycache__/config.cpython-38.pyc
prosjekttesting/__pycache__/config.cpython-38.pyc
prosjekttesting/__pycache__/microblog.cpython-38.pyc
prosjekttesting/__pycache__/microblog.cpython-38.pyc
prosjekttesting/__pycache__/config.cpython-38.pyc
prosjekttesting/app/__pycache__/__init__.cpython-38.pyc
prosjekttesting/app/__pycache__/forms.cpython-38.pyc
prosjekttesting/app/__pycache__/models.cpython-38.pyc
prosjekttesting/app/__pycache__/routes.cpython-38.pyc
