{% extends "base.html" %}

{% block content %}
    <h1>My account: {{user.username}} </h1>
    <p>Saldo: {{user.balance}}</p>
    <h1>Transfer</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.recieving.label }}<br>
            {{ form.recieving(size=32) }}<br>
             {% for error in form.recieving.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.ammount_to_transfer.label }}<br>
            {{ form.ammount_to_transfer(size=32) }}<br>
            {% for error in form.ammount_to_transfer.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>       
        <p>{{ form.submit() }}</p>
    </form>
    
{% endblock %}